.education-details-box {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  flex: 1;
  padding: 10px;
}
.education-heading {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  text-decoration: wavy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.education-details-cards {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1326px) {
  .education-details-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .education-details-box {
    width: fit-content;
  }
}
