.education-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  width: 30em;
  height: 18em;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(216, 203, 203, 0.9);
  border-left: 5px solid black;
}
.education-cards:hover {
  transform: translateY(-05px);
  background-color: lightgray;
  border-left: 5px solid blue;
  color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}
.education-standard {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
}
.education-subheading {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.organisation-name {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.education-organisation-address {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.education-duration {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
.result {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
