.education-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  flex: 1;
  width: 30em;
  height: 20em;
  background-color: white;
  box-shadow: 0 0px 20px darkslategrey;
  border-radius: 20px;
}
.education-cards:hover {
  transform:scale(1.02,1.02);
  color: black;
  background-color: lightyellow;
  transition-duration: 0.5s;
  cursor: pointer;
}
.education-standard {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: x-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  color: darkblue;
}
.education-subheading {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  color: darkgreen;
}
.organisation-name {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.education-organisation-address {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.education-duration {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.result {
  position: relative;
  display: flex;
  margin: 10px;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkgreen;
}
@media screen and (max-width: 1326px) {
  .education-cards {
    width: 50rem;
  }
}

@media screen and (max-width: 925px) {
  .education-cards {
    width: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .education-cards {
    width: fit-content;
    line-height: 20px;
  }
}
