.display-page-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.display-bg {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.6)contrast(1.15)saturate(1.5);
}
.display-page-content {
  position: relative;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  flex-direction: column;
}
.display-name {
  position: relative;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.display-specification {
  position: relative;
  margin-top: 10px;
  display: flex;
  color: white;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.display-buttons {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
