.display-page-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  scroll-behavior: smooth;
  box-shadow: 0px 2px 10px 5px black;
}

@keyframes animatedisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.display-bg {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: brightness(0.5) contrast(1.09) saturate(1.5);
  animation: animatedisplay 2s ease-in-out forwards;
}
.display-page-content {
  position: relative;
  display: flex;
  visibility: hidden;
  padding-bottom: 2rem;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  animation: animate ease-in-out 2s forwards;
  animation-delay: 3s;
}
@keyframes animate {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
    visibility: visible;
  }
}

.display-name {
  position: relative;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.display-specification {
  position: relative;
  margin-top: 10px;
  display: flex;
  color: white;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.display-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 700px) {
  .display-page-body {
    width: fit-content;
    padding: 50px;
  }
  .display-name {
    text-align: left;
  }
  .display-specification {
    justify-content: flex-start;
  }
  .display-buttons {
    justify-content: space-between;
  }
}

@media screen and (max-width: 508px) {
  .display-name {
    font-size: 2.5rem;
    text-align: left;
  }
  .display-specification {
    text-align: left;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  .display-name {
    font-size: 2.2rem;
    text-align: left;
  }
  .display-specification {
    text-align: left;
    font-size: 1.2rem;
  }
  .display-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: flex-start;
  }
}
