.project-component-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.project-container-heading {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
}
.project-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  flex-wrap: wrap;
  width: fit-content;
  padding: 20px;
  height: 100vh;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 50px;
}
.project-list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1800px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1220px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-component-container {
    width: fit-content;
  }
}
@media screen and (max-width: 450px) {
  .project-component-container {
    padding-right: 25px;
  }
}

@media screen and (max-width: 420px) {
  .project-component-container {
    padding-right: 50px;
  }
}

@media screen and (max-width: 380px) {
  .project-component-container {
    padding-right: 10px;
  }
}
