.project-component-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a3746;
  filter: brightness(1) opacity(1) saturate(1.5);
  margin: 10px;
}
.project-container-heading {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
}
.project-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.project-list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1800px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1220px) {
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-component-container {
    width: fit-content;
  }
}

@media screen and (max-width: 410px) {
  .project-container-heading {
    font-size: 20px;
  }
}