.project-component-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.project-container-heading {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
.project-list {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  overflow-y: scroll;
  margin-bottom: 50px;
}
.project-list::-webkit-scrollbar {
  display: none;
}
