.interest-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
  background: transparent;
}
.interest-heading {
  position: relative;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin-top: 50px;
  justify-content: center;
  color:black;
  text-align: center;
}
.interest-parent-container {
  flex: 1;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.interest-list-container {
  display: flex;
  position: relative;
  height: fit-content;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

@media screen and (max-width:600px){
  .interest-heading {
   font-size: 25px;
  }
}
@media screen and (max-width: 460px) {
  .interest-container{
    width: fit-content;
  }
}
