.skills-container {
  position: relative;
  display: flex;
  flex: 1;
  padding: 20px;
  background-size: cover;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 60px;
  background-color: #f4f4f4;
}

.skills-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.skills-heading {
  position: relative;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.skill-points-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  flex: 1;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  align-self: center;
  background-color: transparent;
  border-radius: 20px;
}

@media screen and (max-width: 1388px) {
  .skill-points-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1070px) {
  .skill-points-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .skill-points-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 520px) {
  .skills-container {
    width: fit-content;
  }
}
