.skills-container {
  position: relative;
  display: flex;
  flex: 1;
  padding: 20px;
  background-size: cover;
  flex-direction: column;
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  padding-bottom: 20px;
}

.skills-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.skills-heading {
  position: relative;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  color: darkred;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.skill-points-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  flex: 1;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  align-self: center;
  box-shadow: 0 0px 20px darkslategrey;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1388px) {
  .skill-points-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1070px) {
  .skill-points-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .skill-points-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 520px) {
  .skills-container {
    width: fit-content;
  }
}
