.carousel-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.certification-heading {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 900;
  color: black;
  text-align: center;
}

.certification-organisation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 500;
  color: blue;
  text-shadow: 0px 0px 1px gray;
  text-align: center;
}

.certificate-duration {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  color: red;
  text-align: center;
}

.certificate-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 50px;
}
.certificate-img > img {
  position: relative;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0px 0px 5px gray);
}

@media screen and (max-width: 1374px) {
  .certificate-img > img {
    height: 40rem;
    width: 60rem;
  }
}

@media screen and (max-width: 1250px) {
  .certificate-img > img {
    height: 30rem;
    width: 50rem;
  }
}
@media screen and (max-width: 1110px) {
  .certificate-img > img {
    height: 30rem;
    width: 45rem;
  }
}
@media screen and (max-width: 1030px) {
  .certificate-img > img {
    height: 26rem;
    width: 40rem;
  }
}
@media screen and (max-width: 940px) {
  .certificate-img > img {
    height: 20rem;
    width: 30rem;
  }
}

@media screen and (max-width: 820px) {
  .certificate-img > img {
    height: 20rem;
    width: 25rem;
  }
  .certification-heading {
    font-size: 25px;
  }
  .certificate-duration {
    font-size: 18px;
  }

  .certification-organisation {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .certificate-img > img {
    height: 14rem;
    width: 20rem;
  }
  .certification-heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 620px) {
  .certificate-img > img {
    height: 10rem;
    width: 15rem;
  }
  .certification-heading {
    font-size: 20px;
  }
}
@media screen and (max-width: 530px) {
  .certificate-img > img {
    height: 8rem;
    width: 12rem;
  }
}
@media screen and (max-width: 460px) {
  .certificate-img > img {
    height: 6rem;
    width: 8rem;
  }
  .certification-heading {
    font-size: 15px;
  }
}
@media screen and (max-width: 416px) {
  .certificate-img > img {
    height: 5rem;
    width: 6rem;
  }
  .certification-heading {
    font-size: 15px;
  }
  .certificate-duration {
    font-size: 13px;
  }

  .certification-organisation {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) {
  .certificate-img > img {
    height: 4rem;
    width: 4rem;
  }
}
