.experience-container {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.experience-heading {
  display: flex;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  text-align: center;
}

.experience-cards-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
  overflow-y: scroll;
  padding-bottom: 50px;
  flex: 1;
  scroll-behavior: smooth;
}
.experience-cards-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 450px) {
  .experience-container {
    width: fit-content;
  }
  .experience-heading {
    font-size: 20px;
  }
}
