.experience-container {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  background-color: #2a3746;
  filter: brightness(1) opacity(1) saturate(1.5);
  margin:10px;
}
.experience-heading {
  display: flex;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
  justify-content: center;
  text-align: center;
}

.experience-cards-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100vh;
  background-color: transparent;
  overflow-y: scroll;
  padding-bottom: 50px;
  flex: 1;
  scroll-behavior: smooth;
}
.experience-cards-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .experience-heading {
    font-size: 20px;
  }
}


@media screen and (max-width: 390px) {
  .experience-heading {
    font-size: 15px;
  }
}