.experience-container {
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}
.experience-heading {
  display: flex;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 20px;
  color: black;
  justify-content: center;
}

.experience-cards-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
  background-color: transparent;
  overflow-y: scroll;
  padding-bottom: 50px;
  flex: 1;
  scroll-behavior: smooth;
}
.experience-cards-container::-webkit-scrollbar {
  display: none;
}
