.navbar-top {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  height: 50px;
  background: transparent;
}
@media screen and (max-width: 1600px) {
  .navbar-top {
    position: relative;
    display: flex;
    z-index: 10;
    height: 50px;
    background: transparent;
    justify-content: space-between;
  }
}
