.certification-container {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}
.certification-container-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  color: darkblue;
}
.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  flex: 1;
}

.rec.rec-arrow {
  border-radius: 100%;
}
.rec.rec-arrow:hover {
  border-radius: 100%;
  background-color: none;
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
