.button-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: larger;
  color: black;
  font-weight: 500;
  background: transparent;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.button-icon:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: all 0.1s;
  transition-timing-function: ease-in-out;
}
.button-icon:active {
  cursor: progress;
  transform: translateY(5px);
  transition: all 0.1s;
  transition-timing-function: ease-in-out;
}
.button-icon > .MuiSvgIcon-root {
  position: relative;
  color: darkblue;
}

@media screen and (max-width: 510px) {
  .button-icon {
    font-size: 15px;
    margin-right: 15px;
  }
}
