.button-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  background: transparent;
  border: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button-icon:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: all 0.1s;
  color: teal;
  text-shadow: 0px 0px 20px black;
  transition-timing-function: ease-in-out;
}
.button-icon:active {
  cursor: progress;
  transform: translateY(5px);
  transition: all 0.1s;
  transition-timing-function: ease-in-out;
}
.button-icon > .MuiSvgIcon-root {
  position: relative;
  color: white;
  filter: drop-shadow(0px 0px 10px black);
}
