.place-icon,
.phone-icon,
.email-icon {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  color:black;
  text-shadow: 0px 2px 5px gray;
  align-content: center;
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.place-icon > .MuiSvgIcon-root {
  position: relative;
  color: darkred;
  margin-right: 10px;
}

.phone-icon > .MuiSvgIcon-root {
  position: relative;
  color: blue;
  margin-right: 10px;
}
.email-icon > .MuiSvgIcon-root {
  position: relative;
  color: green;
  margin-right: 10px;
}
