@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
.top-nav-left-name-container {
  position: relative;
  display: block;
  padding-left: 50px;
  position: relative;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.top-nav-left-name-container:hover {
  cursor: pointer;
  color: teal;
  transform: scale(1.05, 1.05);
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.top-nav-left-name-container:active {
  cursor: pointer;
  transform: translateY(5px);
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 1600px) {
  .top-nav-left-name-container {
    position: relative;
    display: block;
    margin-left: 50px;
    padding-left: 0px;
  }
}
