@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
.top-nav-left-name-container {
  position: relative;
  display: flex;
  margin-left: 150px;
}
#top-nav-left-name {
  position: relative;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 1600px) {
  .top-nav-left-name-container {
    position: relative;
    display: flex;
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
}
