.contact-footer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name-contact {
  display: flex;
  position: relative;
  margin: 5px;
}
.address-contact {
  display: flex;
  position: relative;
  margin: 5px;
}
.state-contact {
  display: flex;
  position: relative;
  margin: 5px;
}
.pin-contact {
  display: flex;
  position: relative;
  margin: 5px;
}

.footer-phone {
  display: flex;
  position: relative;
  margin: 5px;
}
@media screen and (max-width: 720px) {
  .contact-footer {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 380px) {
  .contact-footer {
    font-size: 18px;
  }
}
