.skills-points-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 250px;
  margin: 20px;
  width: 250px;
  justify-content: center;
  padding: 5px;
  background: rgba(255, 255, 255, 0.08);
  border-radius:20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.07);
}
.skills-point-name {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: darkblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
}

.skills-image-container {
  position: relative;
}
.progress-bar {
  height: 80px;
  width: 80px;
  filter: drop-shadow(0px 0px 10px lightgray);
}
.skills-points-container:hover {
  transform: translateY(20px);
  cursor: pointer;
  transition-duration: 0.5s;
}
