@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  background-color: white;
  /* background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6); */
}
.App::-webkit-scrollbar {
  display: none;
}
.navigationSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: min-content;
  z-index: 1;
  color: black;
}
.navigation-scroll {
  background: white;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  color: black;
  box-shadow: 0px 1px 10px 1px gray;
}
