@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
* {
  margin: 0;
}
.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}
.App::-webkit-scrollbar {
  display: none;
}
.navigationSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  color: white;
}
.navigation-scroll {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  color: black;
  box-shadow: 0px 5px 10px 1px lightgray;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}
