.experience-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  width: fit-content;
  filter: brightness(100%);
  border-radius: 20px;
}

.experience-cards:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}
.basic-details {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.roles-learning-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.working-title {
  display: flex;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  font-weight: 500;
  font-size: 25px;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.working-organisation {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 10px;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  color: lightcyan;
}
.duration {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  align-items: center;
  color: black;
  padding: 10px;
  flex-wrap: wrap;
  color: lightcyan;
}
.experience-description {
  display: flex;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  flex-wrap: wrap;
  color: thistle;
}
.role-in-experience {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}
.role-heading {
  display: flex;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 10px;
  margin-top: 30px;
  color: white;
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
}
.role-description {
  display: flex;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  color: thistle;
}

.learning-outcomes {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
.learning-outcome-heading {
  display: flex;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  padding: 10px;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
}

.learning-outcome-descripton {
  display: flex;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  flex: 1;
  color: thistle;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .working-title {
    font-size: 25px;
  }
  .working-organisation {
    font-size: 20px;
  }
  .duration {
    font-size: 20px;
  }
  .experience-description {
    font-size: 15px;
  }
  .role-description {
    font-size: 15px;
  }
  .learning-outcome-descripton {
    font-size: 15px;
  }
  .role-heading {
    font-size: 20px;
  }
  .learning-outcome-heading {
    font-size: 20px;
  }
}
