.experience-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
  width: fit-content;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(216, 203, 203, 0.9);
  border-left: 5px solid black;
}

.experience-cards:hover {
  transform: translateY(-05px);
  background-color: lightgray;
  border-left: 5px solid blue;
  color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}
.basic-details {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.roles-learning-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.working-title {
  display: flex;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  padding: 10px;
  font-size: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.working-organisation {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}
.duration {
  display: flex;
  position: relative;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  color: black;
  padding: 10px;
  flex-wrap: wrap;
}
.experience-description {
  display: flex;
  position: relative;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  flex-direction: column;
  padding: 10px;
  padding-left: 20px;
  font-weight: 500;
  flex-wrap: wrap;
}
.role-in-experience {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}
.role-heading {
  display: flex;
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  color: darkblue;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.role-description {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

.learning-outcomes {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}
.learning-outcome-heading {
  display: flex;
  position: relative;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 10px;
  color: darkblue;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.learning-outcome-descripton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  .working-title {
    font-size: 25px;
  }
  .working-organisation {
    font-size: 20px;
  }
  .duration {
    font-size: 20px;
  }
  .experience-description {
    font-size: 15px;
  }
  .role-description {
    font-size: 15px;
  }
  .learning-outcome-descripton {
    font-size: 15px;
  }
  .role-heading {
    font-size: 20px;
  }
  .learning-outcome-heading {
    font-size: 20px;
  }
}
