.projectCards {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  height: 500px;
  width: 500px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(216, 203, 203, 0.9);
  border-left: 5px solid black;
}

.projectCards:hover {
  transform: translateY(-05px);
  background-color: lightgray;
  border-left: 5px solid blue;
  color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}

.project-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.technology-used {
  position: relative;
  display: flex;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  height: max-content;
  color: black;
}

.project-description {
  position: relative;
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  flex-wrap: wrap;
  flex: 1;
}
.project-link {
  position: relative;
  display: flex;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.project-link > a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  text-shadow: 0px 0px 2px darkblue;
}

@media screen and (max-width: 1220px) {
  .projectCards {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 0px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 570px) {
  .project-title {
    font-size: 30px;
  }
  .technology-used {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .project-title {
    font-size: 20px;
  }
  .technology-used {
    font-size: 12px;
  }
  .project-description {
    font-size: 15px;
  }
  .project-link {
    font-size: 15px;
  }
}
