.projectCards {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  width: 500px;
  filter: brightness(95%);
}

.projectCards:hover {
  transform: translateY(-05px);
  color: black;
  transition-duration: 0.5s;
  cursor: pointer;
}

.project-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.technology-used {
  position: relative;
  display: flex;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  height: max-content;
  color: lightblue;
}

.project-description {
  position: relative;
  display: flex;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  flex: 1;
  color: thistle;
}
.project-link {
  position: relative;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.project-link > a {
  cursor: pointer;
  color: lightcyan;
  text-decoration: none;
}

@media screen and (max-width: 1220px) {
  .projectCards {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 0px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 570px) {
  .project-title {
    font-size: 30px;
  }
  .technology-used {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .project-title {
    font-size: 20px;
  }
  .technology-used {
    font-size: 12px;
  }
  .project-description {
    font-size: 15px;
  }
  .project-link {
    font-size: 15px;
  }
}
