@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
.top-nav-navoptions {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: transparent;
}
.navoptions {
  display: block;
}
.navoptions:hover {
  cursor: pointer;
  text-decoration: solid;
  color:teal;
  transform: scale(1.05, 1.05);
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}

.navoptions:active {
  cursor: pointer;
  transform: translateY(5px);
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 1600px) {
  .top-nav-navoptions {
    display: none;
  }
}
