@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
.top-nav-navoptions {
  position: relative;
  display: flex;
  flex: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content:flex-end;
  background: transparent;
}
.navoptions {
  display: block;
  margin: 0px 20px;
}
.navoptions:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.navoptions:active {
  cursor: pointer;
  transform: translateY(5px);
  transition: all 0.2s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 1600px) {
  .top-nav-navoptions {
    display: none;
  }
}
